body{
  background-color: #E8DFCA;


}
h1{
    font-family: 'Arima', cursive;
    margin-top: 10px;
}
.col-md-4{
    background-color: #E8DFCA;
  margin-top: 130px;

}
.container{
  background-color: #E8DFCA;

}
input[type= button]{
  width: 100%;
  background-color: #CD104D;
  color: white;
  font-weight:bolder;
  border: 2px solid black;
}
input[type= text]
{
  width: 100%;
  font-weight: bold;
}
